/* table style */
table,
td,
th {
    border: 0px solid rgba(0, 0, 0, 0.8);
}

table {
    border-collapse: collapse;
    width: 400px;
}

td {
    vertical-align: top;
}

/* 2 columns ccs */
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ababab;
}

h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ababab;
}

h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #ababab;
}

body {
    font-family: "Platypi", sans-serif;
    font-size: 17px;
    text-shadow: 0px 0px 0px #ababab;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    text-align: left;
}

p { display: inline }

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.wrapper {
    width: 1200px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 400px);
}